{% extends "codefundo/base.html" %}
{% block main_content %}
{% load staticfiles %}    <body>

 

</div></div>    <br><br>
<div class="container">
            <form class="form-horizontal" action="/codefundo/main_page/" method="POST">
          
                {% csrf_token %}
       {{ form.non_field_errors }}




           aadhar card no: </div><br> {{form.aadhar_no}}<br><br>
           
      
         
           postal_code: </div><br> {{form.pincode}}


                <input class="btn btn-primary" type="submit" value="submit">   
            </form>   
 
    </div>
   
 
    </div>
</div>


   {% endblock %}